body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background: linear-gradient(135deg, #21bd8c 0%, #16572e 100%);
    color: white;
    min-height: 100vh;
}

h1 {
    margin-bottom: 30px;
}

input {
    padding: 12px;
    font-size: 16px;
    width: 250px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 12px 30px;
    font-size: 16px;
    background-color: rgb(236, 203, 19);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(68, 64, 64);
    transform: scale(1.05);
}

#weather-result {
    margin-top: 30px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #332c2c;
}

#weather-result h2 {
    color: #1d4022;
    margin-bottom: 20px;   
}

#weather-result p {
    margin: 10px 0;
    font-size: 18px;
    text-align: left;
}